.cars{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cars_wrapper{
    height: 98%;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 10px;
}