.company_description::-webkit-scrollbar {
    width: 6px; /* ширина scrollbar */
  }
  .company_description::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* цвет дорожки */
    border-radius: 25px;
  }
  .company_description::-webkit-scrollbar-thumb {
    background-color: #b8e5ff; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid #b8e5ff; /* padding вокруг плашки */
  }