.pickuppoints{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pickuppoints_wrapper{
    height: 98%;
    width: 98%;
    min-height: 80vh;
    margin-top: 20px;
    margin-bottom: 20px;
}