.pickuppoints{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pickuppoints_wrapper{
    height: 100%;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 5px;
    position: relative;
}