.proods{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proods_wrapper{
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    min-height: 80vh;
}
