.users{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 98%;
    height: 98%;
    min-height: 80vh;
}

// block_userInfo
.block_userInfo{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.block_userInfo_group{
    min-width: 550px;
    @media(max-width: 530px){
        min-width: 350px;
    }
}
.group_change_name{
    display: flex;
}
.btn_change_name{
    background-image: url('../assets/home/btn_change_any.svg');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    cursor: pointer;
}